# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.pytest_cache/
.pytest_cache

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Git
.git
.gitignore

# Autre
.env
.env.local
*.log
.gitignore
