certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.12
numpy==1.26.4
pandas==2.2.3          # ✅ Au lieu de 3.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
six==1.17.0
urllib3==2.6.3
matplotlib==3.8.4
seaborn==0.13.2
streamlit==1.32.0
